{% extends 'base.html' %}

{% load static %}

{% block title %}
ReleCloud - {{ destination }}
{% endblock %}

{% block image %}
    {% if destination.name == 'Mars' %}
        <img class="mr-3 img-fluid" src="{% static 'res/img/Mars.jpg' %}" alt="Marte" />
    {% elif destination.name == 'Ceres' %}
        <img class="mr-3 img-fluid" src="{% static 'res/img/Ceres.jpeg' %}" alt="Ceres" />
    {% elif destination.name == 'Hygea' %}
        <img class="mr-3 img-fluid" src="{% static 'res/img/Hygea.jpeg' %}" alt="Hygea" />
    {% elif destination.name == 'Sea of Tranquility' %}
        <img class="mr-3 img-fluid" src="{% static 'res/img/Sea of Tranquility.png' %}" alt="Mar tranquilidad" />
    {% else %}
        <img class="mr-3 img-fluid" src="{% static 'res/img/astronaut.jpeg' %}" alt="Astronaut looking into space" />
    {% endif %}
{% endblock %}

{% block content %}
<h1>{{ destination }}</h1>
<p>
{{ destination.description }}
</p>
<p>You can explore {{ destination }} on the following cruises:</p>
<ul class="list-group">
    {% for cruise in destination.cruises.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'cruise_detail' cruise.id %}">{{ cruise }}</a>
    {% endfor %}
</ul>
{% endblock content %}